@import (reference) '~stremio/common/screen-sizes.less';

.menu {
    flex: none;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 18rem;
    padding: 3rem 1rem 3rem 1.5rem;

    .button {
        flex: none;
        align-self: stretch;
        display: flex;
        align-items: center;
        height: 3.25rem;
        border-radius: 3.25rem;
        padding: 0 1.5rem;
        margin-bottom: 0.375rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--primary-foreground-color);
        opacity: 0.55;
        transition: background-color 0.15s ease-out, opacity 0.15s ease-out, color 0.15s ease-out;

        &.selected {
            font-weight: 700;
            color: var(--primary-accent-color);
            background-color: var(--primary-accent-color-soft);
            opacity: 1;
        }

        &:hover:not(.selected) {
            background-color: var(--overlay-color);
            opacity: 0.85;
        }
    }

    .spacing {
        flex: 1;
    }

    .version-info-label {
        flex: 0 1 auto;
        margin: 0.5rem 0 0 1.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.8rem;
        color: var(--primary-foreground-color);
        opacity: 0.3;
        overflow: hidden;
    }
}

@media only screen and (max-width: @xsmall) {
    .menu {
        display: none;
    }
}

@media only screen and (max-width: @minimum) {
    .menu {
        display: none;
    }
}